<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đặt hàng sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section>
    <div class="container">
        <h1>Đặt hàng sản phẩm</h1>
        <form th:action="@{/product/placeOrder}" th:object="${productOrderForm}" method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="diaChi">Địa chỉ:</label>
                    <input type="text" id="diaChi" th:field="*{diaChi}" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="maKho">Mã kho:</label>
                    <select id="maKho" th:field="*{maKho}" class="form-control" required>
                        <option value="" disabled selected>Chọn kho</option>
                        <option th:each="kho : ${khos}" th:value="${kho.maKho}" ></option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn vị tính</th>
                    <th>Đơn giá</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, stat : ${products}">
                    <td>
                        <input type="text" th:field="*{products[__${stat.index}__].barcode}" th:value="${product.barcode}" class="form-control">
                        <span th:text="${product.barcode}"></span>
                    </td>
                    <td th:text="${product.tenSP}">Tên sản phẩm</td>
                    <td>
                        <input type="number" th:field="*{products[__${stat.index}__].soLuong}" class="form-control" required>
                    </td>
                    <td th:text="${product.donViTinh}">Đơn vị tính</td>
                    <td th:text="${product.donGia}">Đơn giá</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Đặt hàng</button>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
